 <div class="poster normal normal-small   size-350">
      <a class="poster-image mt-radius normal-right-small pull-left" href="http://infowazz.tophot.wpengine.com/2016/12/02/she-wasnt-sure-she-said-of-the-shoot-what-was-expected-from-3/">
        <div class="mt-post-image">
          <div class="mt-post-image-background" style="background-image:url(http://1n80ri2vk9q0gusqw1mhtdcu.wpengine.netdna-cdn.com/wp-content/uploads/sites/17/2016/07/i_8-15x10.jpg);"></div><img alt="10 steps to prepare your home for a Kitten-about Kitten Care" class="hoverZoomLink lazy-loaded" src="<%= @post.banner_image_url %>" data-src="" width="480" height="480"></div><span class="post-icon mt-theme-background"><i class="ic-open open"></i></span>
        <div class="poster-info">
          <div class="poster-cat"><span class="mt-theme-text">Fashion</span></div>
          <div class="poster-data color-silver-light"><span class="poster-shares">192 shares</span><span class="poster-views">1,980 views</span></div>
        </div>
      </a>
      <div class="poster-content">
        <div class="poster-cat"><span class="mt-theme-text">Fashion</span></div>
        <div class="poster-data color-silver-light"><span class="poster-shares">192 shares</span><span class="poster-views">1,980 views</span></div><a href="http://infowazz.tophot.wpengine.com/2016/12/02/she-wasnt-sure-she-said-of-the-shoot-what-was-expected-from-3/"><h2>10 steps to prepare your home for a Kitten-about Kitten Care</h2></a><small class="mt-pl"><strong class="mt-pl-a">David Galiat</strong><span class="color-silver-light mt-ml"> - </span><span class="color-silver-light mt-pl-d">Dec 02, 2016</span></small>
        <p>Bringing home a new, furry addition to your family is a fun time, but there are also many responsibilities that…</p>
      </div>

      <div class="clearfix"></div>
    </div>